<div class="flex justify-center items-center">
  <span class="mx-0.5 md:mx-1.5">
    <img
      width="16px"
      height="16px"
      src="/assets/themes/Yaru/status/network-wireless-signal-good-symbolic.svg"
      alt="ubuntu wifi"
      class="inline status-symbol w-3 h-3 md:w-4 md:h-4">
  </span>
  <span class="mx-0.5 md:mx-1.5">
    <img
      width="16px"
      height="16px"
      src="/assets/themes/Yaru/status/audio-volume-medium-symbolic.svg"
      alt="ubuntu sound"
      class="inline status-symbol w-3 h-3 md:w-4 md:h-4">
  </span>
  <span class="mx-0.5 md:mx-1.5">
    <img
      width="16px"
      height="16px"
      src="/assets/themes/Yaru/status/battery-good-symbolic.svg"
      alt="ubuntu battery"
      class="inline status-symbol w-3 h-3 md:w-4 md:h-4">
  </span>
  <span class="mx-0.5 md:mx-1">
    <div class="arrow-custom-down status-symbol"></div>
  </span>
</div>
