@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu', sans-serif;
  font-display: swap;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Window styling */
.arrow-custom-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  width: 0;
}

.arrow-custom-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  width: 0;
}

.arrow-custom-left {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid white;
  width: 0;
}

.arrow-custom-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  width: 0;
}

.arrow-custom-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  width: 0;
}

.top-arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333333;
}

.main-navbar-vp {
  height: 24px;
}

@media (min-width: 768px) {
  .main-navbar-vp {
    height: 28px;
  }
}

.window-y-border {
  height: calc(100% - 10px);
  width: calc(100% + 10px);
  cursor: e-resize;
}

.window-x-border {
  height: calc(100% + 10px);
  width: calc(100% - 10px);
  cursor: n-resize;
}

.window-parent {
  user-select: none;
}

.animateShow {
  animation: transformDownShow 200ms 1 forwards;
}

@keyframes transformDownShow {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

input[type=range].ubuntu-slider {
  outline: none;
  -webkit-appearance: none;
  background: linear-gradient(to right, rgba(175, 175, 175, 0.3) 0%, rgba(175, 175, 175, 0.3) 100%);
  background-position: center;
  background-size: 99% 3px;
  background-repeat: no-repeat;
  height: 6px;
  border-radius: 50%;
}

input[type=range].ubuntu-slider::-webkit-slider-thumb {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #fff;
  pointer-events: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: relative;
}
